@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Обнулення */
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 300;
  font-style: normal;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 14px;
  background-color: #28272a;

  line-height: 1;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  font-family: "Montserrat Alternates", sans-serif;
}

button {
  cursor: pointer;
}

/* ----------------------------------------------------------- */
/* Загальні блоки */
h2 {
  font-family: "Montserrat", serif;
}

.movie-card {
  display: flex;
  justify-content: space-evenly;
  gap: 60px;
  padding: 120px 150px;
  color: #fff;
  background-color: #28272a;
  font-family: "Montserrat Alternates", sans-serif;
}

.movie-poster {
  border-radius: 10px;
}

.movie-poster img {
  display: block;
  border-radius: 10px;
  width: 20vw;
  height: 65vh;
}

.movie-info {
  max-width: 1000px;
  padding-left: 70px;
}

.movie-title {
  line-height: 2.5;
  text-align: center;
  font-size: 35px;
  margin-bottom: 20px;
  font-family: "Montserrat", serif;
}

.info-grid {
  display: grid;
  grid-template-columns: 150px 1fr;
  gap: 10px 30px;
  font-size: 20px;
  align-items: start;
}
.info-label {
  text-align: left;
  font-family: "Montserrat Alternas", serif;
  padding-bottom: 30px;
  font-size: 24px;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 300;
}
.info-value {
  line-height: normal;
  font-size: 24px;
  text-align: left;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 300;
  padding-bottom: 30px;
}

.movie-rating {
  display: inline-flex;
  align-items: center;
  gap: 5px;

  font-size: 24px;
  color: #facc15;
  padding-right: 8px;
}

.review-button-container {
  display: flex;
  justify-content: right;
}

.review-button {
  padding: 20px 90px;
  background-color: #0065d8;
  color: white;
  border-radius: 5px;
  font-size: 20px;
  border: none;
  transition: background-color 0.3s;
}

.review-button:hover {
  background-color: #051322;
}

/* ----------------------------------------------------------- */
/* Header */
header {
  width: 100%;
  height: 100px;
}

.header-container {
  background-color: #0a3362;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 200px;
  color: #fff;
}

.header-logo::before {
  content: "";
  display: block;
  background-image: url("./images/logo-icon.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}

.header-logo {
  margin-right: 0;
  color: inherit;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
  font-size: 28px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

.header-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 0;
  margin: 0;
  font-size: 20px;
}

.header-nav a {
  position: relative;
  padding: 10px 0;
  transition: color 0.3s;
  font-weight: 500;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

.header-nav a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -4px;
  width: 0;
  height: 2px;
  background-color: #2188ff;
  transition: width 0.3s ease, left 0.3s ease;
}

.header-nav a:hover {
  color: #2188ff;
}

.header-nav a:hover::after {
  width: 100%;
  left: 0;
}

.favorite-icon {
  height: 30px;
  width: 30px;
  transform: translateY(-3px);
}

.search-form {
  display: flex;
  border: 2px solid #ffffff;
  border-radius: 20px;
  overflow: hidden;
  width: 300px;
  height: 40px;
  background-color: transparent;
}
.search-form input {
  flex: 1;
  border: none;
  padding: 0 10px;
  background-color: transparent;
  color: white;
  outline: none;
  font-family: "Montserrat", sans-serif;
}

input::placeholder {
  color: #fff;
  opacity: 0.5;
  font-family: "Montserrat", sans-serif;
}

.search-form button {
  border: none;
  background: none;
  padding: 0 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-form img {
  width: 20px;
  height: 20px;
}

.logo-icon {
  margin-right: 10px;
  width: 40px;
  height: 40px;
}

/* ----------------------------------------------------------- */
/* Footer */
footer {
  width: 100%;
  flex-shrink: 0;
}

.footer-container {
  background-color: #0a3362;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 200px;
  color: #fff;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.network a {
  display: flex;
  align-items: center;
  gap: 10px;
}

.network-icon {
  height: 30px;
  width: 30px;
}

footer a {
  font-family: "Montserrat Alternates", sans-serif;
}

.copyright {
  color: #fff;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 16px;
}

.movie-rating {
  font-size: 24px;
  padding-right: 8px;
}
